<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Appstractsoftware_MagentoAdapter::config" title="Magento adapter" sortOrder="110">
                    <resource id="Appstractsoftware_MagentoAdapter::wishlist_admin" title="Wishlist admin" sortOrder="111"/>
                    <resource id="Appstractsoftware_MagentoAdapter::order_status" title="Change order status" sortOrder="112"/>
                    <resource id="Appstractsoftware_MagentoAdapter::activate_account" title="Activate account" sortOrder="113"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>