<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Appstractsoftware_MagentoAdapter::config" title="Magento adapter" sortOrder="110">
                    <resource id="Appstractsoftware_MagentoAdapter::wishlist_admin" title="Wishlist admin"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>