<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Wishlist -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\WishlistServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\WishlistService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\WishlistRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\WishlistRepository" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\WishlistDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\WishlistDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ItemDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ItemDto" />

    <!-- Category filters -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\CategoryFiltersServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\CategoryFiltersService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersItemDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersItemDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersAdditionalInfoPriceDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersAdditionalInfoPriceDto" />

    <!-- Configurable products -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\ConfigurableProductsServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ConfigurableProductsService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ConfigurableProductsSearchResultsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ConfigurableProductsSearchResults" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ConfigurableProductSearchInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ConfigurableProductSearch" />

    <!-- Product Extension -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionValueInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOptionValue" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductPriceInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductPrice" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductUnitsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductUnits" />
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="get_appstract_product_price" type="Appstractsoftware\MagentoAdapter\Plugin\ProductItemRepository" />
        <plugin name="get_appstract_units" type="Appstractsoftware\MagentoAdapter\Plugin\ProductItemRepository" />
    </type>
    <preference for="Appstractsoftware\MagentoAdapter\Api\BestSellerRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\BestSellerRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\MostViewedRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\MostViewedRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\NewProductsRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\NewProductsRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\TopRatedRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\TopRatedRepository"></preference>

    <!-- Product options -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOption" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductOptionsServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductOptionsService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductsOptionsSearchResultsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductsOptionsSearchResults"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductsOptionsSearchResultsItemInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductsOptionsSearchResultsItem"></preference>

    <!-- Product links: related/crosssell/upsell -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductLinksServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductLinksService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductLinksInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductLinks"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductLinkInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductLink"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductImagesInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductImages"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionValueProductsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOptionValueProducts"></preference>

    <!-- Cart -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Quote\ShippingAddressManagementServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\Quote\ShippingAddressManagementService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Quote\GuestShippingAddressManagementServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\Quote\GuestShippingAddressManagementService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemLinksInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemLinks"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemQuantityInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemQuantity"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductSimpleOptionInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductSimpleOption"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemInformationInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemInformation"></preference>
    <type name="Magento\Quote\Api\GuestCartItemRepositoryInterface">
        <plugin name="get_appstract_guest_cart_item" type="Appstractsoftware\MagentoAdapter\Plugin\GuestCartItemRepository" />
    </type>
    <type name="Magento\Quote\Api\GuestCartRepositoryInterface">
        <plugin name="get_appstract_guest_cart" type="Appstractsoftware\MagentoAdapter\Plugin\GuestCartRepository" />
    </type>
    <type name="Magento\Quote\Api\CartItemRepositoryInterface">
        <plugin name="get_appstract_mine_cart_item" type="Appstractsoftware\MagentoAdapter\Plugin\CartItemRepository" />
    </type>
    <type name="Magento\Quote\Api\CartManagementInterface">
        <plugin name="get_appstract_mine_cart" type="Appstractsoftware\MagentoAdapter\Plugin\CartRepository" />
    </type>
</config>
