<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Wishlist -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\WishlistServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\WishlistService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\WishlistRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\WishlistRepository" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\WishlistDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\WishlistDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ItemDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ItemDto" />

    <!-- Newsletter -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Newsletter\NewsletterManagementInterface" type="Appstractsoftware\MagentoAdapter\Model\Newsletter\NewsletterManagement"/>

    <!-- Mailing -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\MailingServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\MailingService"/>

    <!-- Orders -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\OrdersManagmentInterface" type="Appstractsoftware\MagentoAdapter\Model\OrdersManagment"/>

    <!-- Category filters -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\CategoryFiltersServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\CategoryFiltersService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersItemDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersItemDto" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CategoryFiltersAdditionalInfoPriceDtoInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CategoryFiltersAdditionalInfoPriceDto" />

    <!-- Products search -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductsSearchServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductsSearchService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductsSearchResultsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductsSearchResults" />

    <!-- Product Extension -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionValueInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOptionValue" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductPriceInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductPrice" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductUnitsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductUnits" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductConfigurationsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductConfigurations" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\BestSellerRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\BestSellerRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\CustomerGroupInterface" type="Appstractsoftware\MagentoAdapter\Model\CustomerGroup"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\MostViewedRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\MostViewedRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\NewProductsRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\NewProductsRepository"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\TopRatedRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\TopRatedRepository"></preference>

    <!-- Payments -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\PayUOrderInterface" type="Appstractsoftware\MagentoAdapter\Model\PayUOrder"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\PayUOrderCreateResponseInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\PayUOrderCreateResponse"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Przelewy24Interface" type="Appstractsoftware\MagentoAdapter\Model\Przelewy24"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\Przelewy24RegisterTransactionResponseInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\Przelewy24RegisterTransactionResponse"></preference>

    <!-- Orders -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\OrdersInterface" type="Appstractsoftware\MagentoAdapter\Model\Orders"></preference>

    <!-- Product images -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductImage\ProductImagesServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductImage\ProductImagesService" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductImage\ProductImagesSearchInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductImage\ProductImagesSearch" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductImage\ProductImagesSearchResultsInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductImage\ProductImagesSearchResults" />

    <!-- Product options -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOption" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductOptionsServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductOptionsService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductsOptionsSearchResultsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductsOptionsSearchResults"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductsOptionsSearchResultsItemInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductsOptionsSearchResultsItem"></preference>

    <!-- Product links: related/crosssell/upsell -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductLinksServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\ProductLinksService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductLinksInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductLinks"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductLinkInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductLink"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductImagesInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductImages"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductOptionValueProductsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductOptionValueProducts"></preference>

    <!-- Cart -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\Quote\ShippingAddressManagementServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\Quote\ShippingAddressManagementService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Quote\GuestShippingAddressManagementServiceInterface" type="Appstractsoftware\MagentoAdapter\Model\Quote\GuestShippingAddressManagementService"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemLinksInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemLinks"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemQuantityInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemQuantity"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductSimpleOptionInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductSimpleOption"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\CartItemInformationInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\CartItemInformation"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductDataInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductData"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductDataStocksInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductDataStocks"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\ProductDataStockSourcesInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\ProductDataStockSources"></preference>
    <preference for="Appstractsoftware\MagentoAdapter\Api\ProductInterface" type="Appstractsoftware\MagentoAdapter\Model\Product"></preference>
    <type name="Magento\InventoryIndexer\Indexer\SelectBuilder">
        <plugin name="appstract_select_builder" type="Appstractsoftware\MagentoAdapter\Plugin\SelectBuilder" />
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\SaveMultiple">
        <plugin name="appstract_stock_item" type="Appstractsoftware\MagentoAdapter\Plugin\SourceItem" />
    </type>
    <type name="Magento\CatalogGraphQl\DataProvider\Product\LayeredNavigation\Builder\Attribute">
        <plugin name="appstract_attribute_builder" type="Appstractsoftware\MagentoAdapter\Plugin\AttributeBuilder" />
    </type>
    <type name="Magento\Sales\Model\Order\Payment\Operations\RegisterCaptureNotificationOperation">
        <plugin name="appstract_register_capture" type="Appstractsoftware\MagentoAdapter\Plugin\RegisterCaptureNotificationOperation" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="appstract_place_order_save" type="Appstractsoftware\MagentoAdapter\Plugin\OrderPlugin"/>
    </type>
    <type name="Magento\SalesGraphQl\Model\OrderItem\DataProvider">
        <plugin name="appstract_data_provider" type="Appstractsoftware\MagentoAdapter\Plugin\DataProvider" />
    </type>
    <type name="Magento\SalesGraphQl\Model\Resolver\CustomerOrders">
        <plugin name="appstract_customer_orders" type="Appstractsoftware\MagentoAdapter\Plugin\CustomerOrders" />
    </type>
    <type name="Magento\Quote\Api\Data\TotalsInterface">
        <plugin name="get_appstract_totals" type="Appstractsoftware\MagentoAdapter\Plugin\Totals" />
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CompositeCollectionProcessor">
        <plugin name="appstract_composite_collection_processor" type="Appstractsoftware\MagentoAdapter\Plugin\CompositeCollectionProcessor" />
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CollectionPostProcessor">
        <plugin name="appstract_composite_collection_processor" type="Appstractsoftware\MagentoAdapter\Plugin\CollectionPostProcessor" />
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Query\Builder\Sort">
        <plugin name="appstract_sort_builder" type="Appstractsoftware\MagentoAdapter\Plugin\Sort" />
    </type>

    <!-- GraphQL -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="appstract_gql_place_order_resolver" type="Appstractsoftware\MagentoAdapter\Plugin\PlaceOrder" />
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\ShippingAddress\SelectedShippingMethod">
        <plugin name="appstract_gql_selected_shipping_method_resolver" type="Appstractsoftware\MagentoAdapter\Plugin\SelectedShippingMethod" />
    </type>
    <type name="Magento\Framework\Search\Dynamic\Algorithm\Auto">
        <plugin name="appstract_price_range" type="Appstractsoftware\MagentoAdapter\Plugin\Auto" />
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartItems">
        <plugin name="appstract_gql_cart_items" type="Appstractsoftware\MagentoAdapter\Plugin\CartItems" />
    </type>


    <!-- Additional attributes for filter input -->
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\FilterArgument\ProductEntityAttributesForAst" >
        <arguments>
            <argument name="additionalAttributes" xsi:type="array">
            <item name="news_from_date" xsi:type="string">news_from_date</item>
            <item name="news_to_date" xsi:type="string">news_to_date</item>
            </argument>
        </arguments>
    </type>
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\OrderItemOptionsInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\OrderItemOptions" />

    <!-- Prepared admin-customer cart -->
    <preference for="Appstractsoftware\MagentoAdapter\Api\PreparedCartRepositoryInterface" type="Appstractsoftware\MagentoAdapter\Model\PreparedCartRepository" />
    <preference for="Appstractsoftware\MagentoAdapter\Api\Data\AttachmentInterface" type="Appstractsoftware\MagentoAdapter\Model\Data\Attachment"></preference>
    <type name="Magento\Quote\Api\ChangeQuoteControlInterface">
        <plugin name="get_appstract_is_allowed" type="Appstractsoftware\MagentoAdapter\Plugin\ChangeQuoteControl" />
    </type>
</config>
