<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="appstract" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Appstract</label>
            <tab>advanced</tab>
            <resource>Magento_Config::dev</resource>
            <group id="appstract_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="auto_invoice" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto generate invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sources_to_skip" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sources to skip</label>
                    <comment>Those sources will be skipped while checking product availability (comma separated source codes)</comment>
                </field>
                <field id="client_admin_group_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CLIENT-ADMIN group ID</label>
                    <comment>Customer with that group ID can create prepared carts.</comment>
                </field>
                <field id="elasticsearch_skip_url_key" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch skip url_key</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="elasticsearch_fuzziness" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch fuzziness</label>
                </field>
                <field id="elasticsearch_sku_boost" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch sku boost</label>
                </field>
                <field id="inpost_sent_status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order status when InPost shipment has been sent</label>
                </field>
                <field id="inpost_ready_to_pickup_status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order status when InPost shipment is ready to pickup</label>
                </field>
                <field id="inpost_delivered_status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order status when InPost shipment has been delivered</label>
                </field>
            </group>
        </section>
    </system>
</config>